<%= render "shared/sm_banner" %>
<%= render "shared/navbar" %>
<div class="studio-container">
   <div class="studio-text">

    <h1>studio hire</h1>
    <div class="studio-images">
      <div class="studio-image-1" style="height: 300px; background-color: #931663">
        <%= cl_image_tag('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1586446367/alexander-dummer-aS4Duj2j7r4-unsplash_sigsmr.jpg') %>
      </div>
      <div class="studio-image-2" style="height: 300px; background-color: #22407A">
        <%= cl_image_tag('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1586449002/harprit-bola-HmREZuu4XuY-unsplash_mtryyb.jpg') %>
      </div>
      <div class="studio-image-3" style="height: 300px; background-color: #6AA29C">
        <%= cl_image_tag('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1586446553/george-pagan-iii-W3hlvVs297g-unsplash_f5j46p.jpg') %>
      </div>
    </div>
  <!--   <h6>INFORMATION</h6> -->
    <br>

    <p>non-funded rates - noone is paid to be in the room</p>
    <h4>£12.50 per hour</h4>
    <br>
    <p>workshops/intensives/training</p>
    <h4>£25 per hour</h4>
    <br>
    <p>open 10am - 10pm</p>
    <br>
    <p>email <strong>info@cboxldn.com</strong> to book space</p>
  </div>
</div>
<%= render "shared/top_footer" %>

